@model TraineesManagementSystem.Models.PaginationProperties
@{
    Layout = null;
}
<style>


	nav {
    display: flex;
    justify-content: center;
}
        
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
        
.pagination li {
    margin: 0 1px;
}
    

</style>
    @if (Model.TotalPages > 0)
    {
       <nav aria-label="pagination">
		<ul class="pagination">

            @for (var pge = Model.StartPage; pge <= Model.EndPge; pge++)

            {
				<li class="page-item @(pge == Model.CurrentPage ? "active" : "")" style="padding-left:30px;"><a class="page-link" asp-controller="AdminView" asp-action="AllTraineeDetails" asp-route-page="@pge"><span class="visuallyhidden">@pge</span></a></li>
            }
			
        </ul>
    </nav>
        
    }


			